/* stylelint-disable selector-list-comma-newline-after */

*{
  font-family: 'Source Serif Pro', serif, "Times New Roman";
}
img{
  width: 100%;
}
.latest-article{
  position: relative;
}
.fab {
  display: inline-flex;
  padding: 20px;
  font-size: 30px;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin: 5px;
  border-radius: 50%;
}

.fab:hover {
    opacity: 0.7;
}

.fa-facebook-f {
  background: #3B5998;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background:orange;
  color: white;
}
.fa-tiktok{
  background:rgb(9, 0, 135);
  color: white;
}
.top{
  margin-bottom: 30px;
}
.container .col-4{
  width: 14.3%
}
.container-fluid{
  padding: 0;
}

.sub-article-title{
  font-size: 1.3rem;
  font-weight: 600;
}
.article-sub-info{
  width: 100%;
  padding: 0 20px 5px
}
.sub-article-sub-info
{
  font-size: 1rem;
}
.a{
  display: inline-block;
  width: auto;
}
.navbar-nav{
  width: 600px;
  justify-content: space-around;
  font-size: 1.2rem;
}
div.toggle{
  background-image: url("../img/indexImg/list.svg");
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
}
div.toggle.open {
  position: relative;
  left: 5px;
  background-image: url("../img/indexImg/x-lg.svg");
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  z-index: 12;
}
.navigatationBar{
  display: none;
}
.navigatationBar.open{
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-top: 70px;
  padding-left: 0px;
  background-color: white;
  list-style: none;
  z-index: 11;
}
.navigatationBar a{
  text-decoration: none;
  color: black;
}
.navigatationBar li{
  margin: 10px;
  font-size: 1.5em;
}
.b{
  display: none;
}
.navbar-light .navbar-toggler {
  color: white;
  border: none;
}
.article-info {
  position: relative;
  background: #fff;
  width: 80%;
  margin: -55px auto 0;
  padding: 40px 40px 0;
  z-index: 10;
  text-align: center;
}
.article-title {
  color: #222;
  margin: 2px 0 10px;
  font-size: 2.25em;
}
.article-sub-info {
  position: relative;
  background: #fff;
  width: 80%;
  margin: 0 auto;
  padding: 0 40px 10px;
  z-index: 10;
}
.article-lede{
  color: #666;
  font-size: 1.125em;
  line-height: 1.2em;
  margin: 10px auto;
  width: 80%;
  text-align: center;
}  
.article-meta {
  color: #999;
  margin: 0;
  text-align: center;
}
.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}
.mainBanner .card{
  border: none;
}
.col-4.logo-box{
  width: 321px;
  margin: auto;
  z-index: 12;
}

.blog-header-logo {
  text-decoration: none;
  font-size: 3rem;
}

.display-4 {
  font-size: 2.5rem;
}
.unavailable{
  visibility: hidden;
}
@media (min-width: 575px) {
  .card.sub{
    height: 420px;
    overflow-y: hidden;
  }
}
@media (min-width: 768px) {
  .a{
    display: none;
  }
  .b{
    display: block;
    margin: auto;
  }
  .card.sub{
    height: 513px;
  }
  .top{
    margin-bottom: 15px;
  }
  .toggle{
    display: none;
}
  .navigatationBar.open {
      display: flex;
      flex-direction: row;
      position: absolute;
      right: 80px;
      left: auto;
      width: auto;
  }
  .navigatationBar{
      display: flex;
  }
  .navigatationBar li{
      list-style: none;
      margin: 20px;
  }
}
  .display-4 {
    font-size: 3rem;
  }

.nav-scroller {
  position: relative;
  z-index: 2;
  min-height: 2.75rem;
}

.nav-scroller .nav {
  display: flex;
  width: 60%;
  max-width: 565px;
  margin: auto;
  flex-wrap: wrap;
  margin-top: -1px;
  overflow-x: auto;
  font-size: 1.1rem;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}
.nav-scroller .nav a{
  text-decoration: none;
  color: black;
}
.card-img-top{
  max-height: 450px;
}
.mask{
  display: flex;
  overflow: hidden;
  align-items: center;
}
.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}
.artical-title{
  font-family: "Times New Roman";
  font-size: 2.25em;
  font-style: normal;
  font-weight: 500;
}

.flex-auto {
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
 * Blog posts
 */
/* .blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #727272;
} */

/*
 * Footer
 */
.blog-footer {
  padding: 2.5rem 0;
  color: #727272;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}
h1, .artical-title{
  font-family: serif;
  font-style: normal;
  font-weight: 400;
  font-size: 3.2rem;
}
h2 {
  font-size: 1.7rem;
}
p{
  font-size: 1.22rem;
}
.row.topic{
  margin-top: 0;
}
@media (max-width: 415px) {
  .article-info{
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
  }
  .artical-title{
    font-size: 2.2rem;
  }
  .article-sub-info{
    width: 100%;
    padding: 0 20px 5px
  }
  .col-4.logo-box{
    width: 245px;
  }
  .blog-header-logo{
    font-size: 2.2rem;
  }
  .col-4.icontoggle{
    width:14.3%;
    padding-right: 0;
    padding-left: 5px;
  }
  h1{
    font-size: 2.3rem;
  }
}